nav {
    background-color: rgb(83, 145, 98);
    padding: 10px;
}

nav a {
    color:white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(83, 145, 98);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 500px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 0;}

footer {
    margin-top: 10px;
    border-top: 5px solid rgb(83, 145, 98);
    text-align: center;
}