* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(11, 71, 26);
    --color: rgb(216, 216, 14);
    --border: rgba(243, 217, 72, 0.74);
    --box-shadow: rgb(224, 37, 37);
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(24, 112, 184);
}

main {
    max-width: 840px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--border);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow);
}

aside {
    position: relative;
    width: 840px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid var(--border);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow);
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 355px;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 5px solid var(--background-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 5px solid var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--color);
}
