* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(11, 71, 26);
    --color: rgb(235, 198, 130);
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(24, 112, 184);
}

main {
    max-width: 840px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgb(11, 20, 17);
    padding: 2px;
    box-shadow: 0 0 30px rgb(116, 8, 22);
}

aside {
    width: 840px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid rgba(243, 217, 72, 0.74);
    padding: 2px;
    box-shadow: 0 0 30px rgb(224, 37, 37);
}

aside h2 {
    position: absolute;
    top: 590px;
    left: 370px;
}

p { padding: 0;}

footer {
    margin-top: 10px;
    border-top: 5px solid var(--background-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 5px solid rgba(243, 209, 96, 0.63);
    padding: 1rem;
    background-color: rgb(9, 60, 73);
    color:rgb(233, 168, 17);
}