.callout {
    max-width: 400px;
    margin: 10px;
    border: 10px;
    padding: 10px;
    background-color: rgb(68, 112, 103);
    color: rgb(218, 216, 216);
}

.callout img {
	float: right;
    margin: 5px;
    border: 5px solid rgb(129, 46, 16);
    padding: 0px;
    background-color: rgb(39, 6, 6);
    max-height: 40%;
}

blockquote {
	margin: 5px;
    font-size: 14px;
}

cite {
    display: block;
    border-top: 2px dotted rgb(189, 39, 39);
    padding-top: 5px;
    text-align: right;
    font-size: 12px;
}